.location-information-wrapper-container{
    padding: 1em;
    text-align: center;
    margin: auto;
}

.location-information-wrapper{
    margin: auto;
    flex-direction: column;
    display: flex;
    gap: 2em;
}
/* page title */
.location-information-wrapper-container h1 {
    font-weight: 600;
    color: pink;
    margin-bottom: 1em;
}
/* Address Information */

.location-address-wrapper div{
    margin-bottom: 1em;
    padding-bottom: .5em;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.location-address-wrapper div p{
   text-align: left;
}


.location-address-wrapper div p:nth-child(odd){
    font-weight: 600;
}


/* Tax Information css */
.location-key{
    font-weight: 600;
}


.location-tax-info{
    text-align: left;
    padding-bottom: 1em;
    display: flex;
    gap: .5em;
    flex-direction: column;
    justify-content: space-between;
}
.location-tax-info div{
    text-align: left;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location-tax-info div p:nth-child(odd){
    font-weight: 600;
}



/* EDIT BUTTON */
.location-information-wrapper-container button{
    text-align: center;
    margin-top: 2em;
    font-weight:700;
    width: 150px;
    height: 40px;
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: #fff;
}


/* Desktop Style */
@media only screen and (min-width: 770px) {

    #location-container{
        position:absolute;
        width: 89%;
        left: 6em;
    }
    

}