.pop-window{
    display: flex;
    width: 40%;
}

.discount-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}

.discount-input-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3em 0;
}
