.payment-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
}

.payment-form-wrapper{
    position: relative;
    margin: auto;
    top: 60%;
    border-radius: 1em;
    transform: translateY(-60%);
    width: 90%;
    padding: 1em;
    background-color: rgb(241, 240, 240);
    text-align: center;
    justify-content: center;
}

.total-price{
    font-size: 40pt;
    color: red;
}

.amount-received{
    color:#5fbca2;
    font-weight: 700;
    font-size: 25pt;
    padding-bottom: .5em;
}

.payment-form-title {
    padding: .5em 0 0 0;
    font-size: 18pt;
}

/* Form */


.payment-selector{
    margin: auto;
    padding: .25em;
}
.payment-selector.title{
    margin:0;
}

.button-selector{
    padding: .5em 1em;
    margin: 1em 1em;
    border: none;
    font-size: 13pt;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #9f9e9e;
    color: #fff;
}

.button-selector.selected{
    background-color: #72c5af;
}
.button-selector:active{
    background-color: #5fbca2;
}
.payment-btn-selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-pop-form-close-btn{
    position:absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

/* .finalize-transaction:disabled,
.finalize-transaction[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} */

.finalize-transaction{
    margin: auto;
    width: 90%;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 1em 0;
    font-weight: 700;
    font-size: 13pt;

    /* color: #fff; */
    color:#fff;
    border: none;
    box-shadow: 0px -1px 15px -12px rgba(0,0,0,0.69);
    background-color: #72c5af;
}

.finalize-transaction:active{
    background-color: #5fbca2;
}
/* .finalize-transaction{
    margin: auto;
    width: 25%;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50em;
    border: none;
    padding: .75em;
    font-weight: 700;
    font-size: 12pt;
    color: #fff;
    background-color: rgb(17, 201, 11);
} */

/* #pos-cash-input{
    margin-bottom: 3em;
} */

.pos-change-due {
    margin: auto;
    font-size: 24pt;
    color: var(--danger);
    /* width: 50%; */
    text-align: center;
}

/* Modified Input styles */
.display-cash-input, .display-auth-code-input{
    display: block;
}
.undisplay-cash-input, .undisplay-auth-code-input {
    display: none;
}

/* Desktop Style */
@media only screen and (min-width: 770px) {

    #payment-box{
        width: 89%;
        padding-left: 5em;
        height: 100vh;
        position: absolute;
        right:0
    }

    .payment-form-wrapper{
        position: relative;
        top: 60%;
        transform: translateY(-60%);
        width: 60%;
    }
}


/* Desktop Style */
@media only screen and (min-width: 570px) {
  
    .payment-form-wrapper{
        position: relative;
        top: 60%;
        transform: translateY(-62%);
        height: 40em;
        width: 60%;
    }

}