.low-stock-container{
    /* border:1px solid red; */
}

.low-stock-table{
    width: 100%;
    /* color: #fff; */
    border-collapse: collapse;
}

.low-stock-table-head{
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
}
.low-stock-table-head-colum{
    padding: .5em 1em;
}


/* Table Body */
.low-stock-table-body-colum{
    padding: 1.75em 1em 1em 1em;
}


.low-stock-units{
    background-color: rgb(196, 46, 46);
    width: 20%;
    height: 1.5em;
    color:#fff;
    /* vertical-align: middle; */
    line-height:1.25em;
    border-radius: 10px;
    padding: .25em 0 0 .5em;
}


.min-units-pagination-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: right;
    padding: 1em 0;
}

.min-units-pagination-wrapper{
    width: 20%;
}
/* .low-int-title{

    background-color: #bc0117;
    color: #fff;
    padding-left: 1em;
    border-radius: 5px;
}

.low-inventory-list{
    display: flex;
    flex-direction: column;
    max-height: 26em;
    row-gap: .25em;
    column-gap: 1em;

}

.low-inventory-item{
    border: 1px solid #e7e5e5;
    display: flex;
    width: 90%;
    flex-direction: row;
    background-color: #fafafa;
    max-height: 6em;
    border-radius: 10px;
    padding: 1em 0;
    margin: .5em auto;
    text-align: left;
    cursor: pointer;
}

.prod-name{
    display: flex;
    flex-direction: row;
}
.prod-info{
    padding: 0 1em;
}
.Divider{
    height: 1em;
    padding-top: .2em;
    border-left: 1px solid gray;
}

.low-inventory-img{
    width: 5em;
    max-height: 8em;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
.low-inventory-img img{
    width: 150px;
}

@media only screen and (min-width: 770px) {

    .low-inventory-item{
        width: 100%;
    }
    
} */