.low-int-title{
    background-color: #bc0117;
    color: #fff;
    padding-left: 1em;
    border-radius: 5px;
}

.low-inventory-list{
    display: flex;
    flex-direction: column;
    max-height: 26em;
    row-gap: .25em;
    column-gap: 1em;

}

.low-inventory-item{
    border: 1px solid #e7e5e5;
    display: flex;
    width: 90%;
    flex-direction: row;
    background-color: #fafafa;
    max-height: 6em;
    border-radius: 10px;
    padding: 1em 0;
    margin: .5em auto;
    text-align: left;
    cursor: pointer;
}

.prod-name{
    display: flex;
    flex-direction: row;
}
.prod-info{
    padding: 0 1em;
}
.Divider{
    height: 1em;
    padding-top: .2em;
    border-left: 1px solid gray;
}

.low-inventory-img{
    width: 5em;
    max-height: 8em;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
.low-inventory-img img{
    width: 150px;
}

@media only screen and (min-width: 770px) {

    .low-inventory-item{
        width: 100%;
    }
    
}