.transaction-history{
    margin-top: 2em;
}

.trans-table-wrapper{
    overflow: auto;
    max-height: 24em;
}

.trans-hist-table{
    width: 100%;
}

.trans-title{
    padding-bottom: 1em;
    
}

.trans-table-head{
    position: sticky;
    color: white;
    background-color: #f154a0;
    top:0;
    /* z-index: 1; */
}

.table-head-row th,.item-info{
    text-align: left;
    padding: .75em .5em;
} 

.item-info:first-child{ border-radius: 20px 0 0 20px; }
.item-info:last-child{ border-radius: 0 20px 20px 0 ; }



.trans-status{
    max-width: 6em;
    border-radius: 50px;
    text-align: center;
    padding: .25em .5em;
}

.status-fail{
    background-color: rgba(244, 29, 29, 0.962);
    color:rgb(113, 1, 1);
}
.status-success{
    background-color: rgba(149, 241, 57, 0.962);
    color: green;
}

.trans-table-row{
    cursor: pointer;
}

.trans-table-row:nth-child(even){
    background-color: #f4f4f4;
}

.line-break{
    height: 1em;
    background-color: none;
}

@media only screen and (max-width: 770px) {
    /* Replacing */
    .trans-hist-table thead tr th:nth-child(2){ display: none; }
    .trans-table-list tr td:nth-child(2){  display: none; }

    .trans-hist-table thead tr th:nth-child(4){ display: none; }
    .trans-table-list tr td:nth-child(4){  display: none; }
}