@import url("../components/dashboard/transactionHistory.css");
@import url("../components/dashboard/lowInventory.css");


.chart-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1.5em;

}
.chart-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.graph-selector-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.graph-selector-info p {
    padding-right: 1em;
}
.chart-wrapper{
    width: 350px;
}

@media only screen and (min-width: 390px) {
    .chart-wrapper{
        width: 325px;
    }
}

@media only screen and (min-width: 770px) {

    #dashboard-container{
        width: 89%;
        position: relative;
        left:7em;
        overflow: hidden;
    }

    .chart-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5em;
    }   

    .chart-wrapper{
        width: 500px;
    }

}