.chart-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* gap: 2em; */
    row-gap: 1em;
    margin-top: 1.5em;
}

.chart-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.graph-selector-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.graph-selector-info p {
    padding-right: 1em;
}

/*  Chart */
.chart-wrapper{
    padding: .5em 1em .5em 1em;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #f5f5f5;
    box-shadow: 0px -1px 15px -12px rgba(0,0,0,0.69);
}





@media only screen and (min-width: 770px) {

    #dashboard-container{
        width: 89%;
        position: relative;
        left:7em;
        overflow: hidden;
    }

    .chart-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
        margin-top: 1.5em;
    }
    
}