/* components */
@import url("../components/inventory/pagination.css");
@import url("../components/inventory/productSettingWindow.css");
@import url("../components/inventory/productTable.css");
/* @import url("./POSSystem/searchBar.css"); */

.invtr-nav-menu{
    width: 93%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

/* Create Button */
.add-prod-button{
    border-radius: 10px;
    padding: .5em 1em;
    cursor: pointer;
    height: 2em;
    display: flex;
    color: #fff;
    text-decoration: none;
    background-color: #f154a0;
    font-size: 10pt;
}
.add-icon {
    padding-right:  .5em;
}
.bi-plus{
    display: block;
    width: 100%;
    height: 100%;
}
.text{
    position: relative;
    top:4px;
}



@media only screen and (max-width: 770px) {

    .invtr-nav-menu{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .add-prod-button{
        margin-bottom: 1em;
        width: 80%;
        margin: auto;
    }
    .invtr-srch-bar-wrapper{
        margin-bottom: 1em;
    }

    .invtr-srch-inpt{
        width: 100%;
    }

}