.user-profile{
    width: 100%;
    padding: 1em 0;
    text-align: center;
}

.menu-user-info-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.user-avatar{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50px;
    border: 1px solid red;
}

.menu-user-information{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}



.li-menu-container{
  border-top: .5px solid rgb(202, 202, 202);
  width: 100%;

}

.li-menu-container:hover{
    background-color:rgb(202, 202, 202);
}

.menu-links-container{
    width: 100%;
    height: 5em;
    display: flex;
    padding: 1em;
    margin-top: 1em;
    text-decoration: none;
    vertical-align: center;
}

.menu-links-container p{
    color: #1d222b;
    text-align: left;
    margin-left: 1.5em;
}

.menu-links-container img{
    width: 2em;
    height: 2em;
}

#chevron-right{
    width: 1em;
    height: 1em;
    position:absolute;
    right: 0;
    margin-right: 2em;
}

@media only screen and (min-width: 770px) {
    #menu{
        width: 85%;
        position: relative;
        left:7em;
        overflow: hidden;
    }

    .user-profile{
        margin: 0%;
        text-align: left;
    }
    
    .menu-user-info-container{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    
    .user-avatar{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin: 0%;
        border: 1px solid red;
    }
    
    .menu-user-information{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }
    
}