.banner{
    position: fixed;
    display: block;
    width: 90%;
    height: 4em;
    margin: 3em auto;
    z-index: 100000;
    left: 50%;
    transform: translate(-50%, 0);
}
.alert-msg {
    width: 50%;
    display: flex;
    margin: auto;
    padding: 1em 0 1em 1em;
    border-radius: 0.75rem;
    color: #fff;
}

.msg-container{
    display: flex;
    flex-direction: row;
}

.alert-msg-icon{
    padding: 0 .5em;
}


/* Error Color */
.error-alert-msg{
    width: 100%;
    background: var(--danger-dark);
}


/* Success Color */
.success-alert-msg{
    width: 100%;
    background: var(--success-dark);
}



.alert-text{
    font-size: 12pt;
    font-weight: 400;
    text-transform: capitalize;
}