.post-line-item:nth-child(odd){
    background-color: gainsboro;
}

.post-line-item:nth-child(even){
    background-color: #fff;
}

.post-line-item{
    height: 2em;
    /* border: 1px solid red; */
}
  
tr td input{
    width: 3em;
}

/* id name style */
#price-name{
    text-align: left;
    padding-left: 2em;
    overflow: auto;
}

#unit-price{
    text-align: right;
}
#pos-qty-total{
    text-align: right;
    padding-right: 1em;
}

td {
    /* border-bottom: 1px solid gainsboro; */
    /* padding: .25em 1em .25em 1em; */
    /* border-right: 1px solid rgb(171, 171, 171); */
    /* text-align:right; */
    position: relative;
    /* height: 3em; */
}

.pos-item-remove button{
    background-color: #ffffff00;
    border: none;
    border-radius: 5px;
    /* padding: .5em; */
}

.pos-item-remove button:hover{
    background-color: #fff;
    border: none;
}

.pos-item-remove button svg{
    fill: rgb(242, 0, 0);
}