.loading-page
{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 249, 249);
    margin:auto;
    position:absolute;
    text-align: center;
    /* z-index: 2; */
    /* top: 45%; */
    /* transform: translateY(-60%); */
}

.loading-img-container
{
    position: relative;
    top:45%;
    transform: translateY(-60%);
    overflow: hidden;
    height: 90px;
    /* max-width: 40%; */
}

.loading-img-container img
{
    position: relative;
    max-width: 300px;
}


/* Desktop Style */
@media only screen and (min-width: 770px) {

    .loading-img-container img
    {
        position: relative;
        max-width: 400px;
    }

    .loading-img-container
    {
        position: relative;
        top:45%;
        transform: translateY(-60%);
        overflow: hidden;
        height: 120px;
        /* max-width: 40%; */
    }

}