.pagination-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.pagination-page-selector{
    margin: 0;
    padding: 0;
}

.pagination-prev-page, .pagination-next-page{
    width: 3em;
    /* border-radius: 5px; */
    /* border: 1px solid #fff; */
    /* height: 3em; */
    line-height: 10px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pagination-page{
    padding: .5em 1em .5em 1em;
    cursor: pointer;
    font-size: 12pt;
    line-height: 5px;
}

.page-selector-active{
    border-bottom: 1px solid black;
}




@media only screen and (min-width: 770px) {
    .pagination-container{
        /* width: 50%; */
    }
}