.pos-line-item:nth-child(odd){ background-color: var(--third-color); }

.pos-line-item:nth-child(even){
    background-color: #fff;
}

.pos-line-item{
    height: 2em;
    width: 85%;
    border-radius: 10px;
    padding: .5em 1em;
    display: inline-block;
    margin-bottom: 0;
    color: var(--primary-color);
}

.pos-line-item-options-open{
    margin-bottom: 3em;
}

.pos-line-item div{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.pos-qty-input-container {
    text-align: center;
    border: 1px solid #adadad;
    display: inline-flex;
}

.pos-qty-input{
    text-align: left;
    width: 2em;
    border:none;
    height: 2em;
}
.price-name{ 
    width: 50%;
    max-height: 2em;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pos-qty-total{
    text-align: left;
    min-width: 10%;
}

.post-qty-step-down, .post-qty-step-up{
  outline:none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2em;
  cursor: pointer;
  margin: 0;
  position: relative;
}


.shoppingcart-item-span{
    cursor: pointer;
    padding-top: .25em;
}
/* id name style */
#price-name{
    text-align: left;
    padding-left: 2em;
    overflow: auto;
}

#unit-price{
    text-align: right;
}
#pos-qty-total{
    text-align: right;
    padding-right: 1em;
}

td {
    position: relative;
}

.pos-item-remove button{
    background-color: #ffffff00;
    border: none;
    border-radius: 5px;
    /* padding: .5em; */
}

.pos-item-remove button svg{
    background-color: var(--bad-btn);
    padding: .5em;
    border-radius: 10px;
    fill: #fff;
}
.pos-item-remove button svg:hover{
    background-color: var(--bad-btn-active);
}


.shoppingcart-change-qty{
    display: inline-block;
    position: relative;
    top: 1em;
    margin: auto;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}
.shoppingcart-change-qty input{
    width: 8em;
    border-radius: 1em;
    border: none;
    background-color: #ebebeb;
    text-align: center;
}

.shoppingcart-change-qty button {
    border: none;
    cursor: pointer;
    border-radius: 25em;
    width: 3em;
    height: 2em;
    background-color: black;
    color: #fff;
}

