.button-one{
    margin: auto;
    background-color: #e38fa4;
    padding: 1.05em 2em;
    border: none;
    width: 30%;
    border-radius: 10px;
    color: #fff;
    font-size: 10pt;
    font-weight: 500;
}

.button-two {
    margin: auto;
    background-color: black;
    padding: .6em 1.2em;
    border: none;
    width: 35%;
    border-radius: 10px;
    color: #fff;
    font-size: 10pt;
    font-weight: 600;
    margin: 1em auto;
}

.button-three{
    background-color: black;
    border: none;
    text-decoration: none;
    font-size: 10pt;
    font-weight: 500;
    padding: .25em .75em;
    border-radius: 5px;
    margin-right: .5em;
    margin-left: .5em;
    color: #fff;
}

.cursor-pointer { 
    cursor: pointer;
}

.button-four{
    margin: auto;
    border: none;
    padding: .25em .75em;
    color: #fff;
    background-color: rgb(58, 58, 58);
}

/* exit button  for Short  Forms*/
/* TODO:Rename this to (short-form-close-btn) */
.pop-form-close-btn{
    padding: .5em;   
    text-align: right;
    cursor: pointer;
}


button:disabled,
button[disabled]{
    background-color: darkgrey;
}





.btn-4{
    background-color: #f4f4f4;
    color: #a9acb5;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}
.btn-4:disabled{
    background-color: #dadada;
    color: #ffffff;
}
.btn-4:active{
    background-color: #bdbdbd;
    color: #ffffff;
}