/*  product info and pricing */
.triple-box-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 3;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: .5em;
    padding: 1.25em;
}

.box-info{
    position: relative;
    padding: 1em;
    flex-grow: 1;
    height: 3em;
}

.box-info p{
    padding-bottom: .25em;
    line-height: 1em;
    font-weight: 400;
    font-size: 13pt;
}

.box-info h5{
    margin: auto;
    bottom: 0;
    font-size: 18pt;
    font-weight: 800;
}


@media only screen and (min-width: 770px) {

    .triple-box-info-container{
        gap: 2em;
    }

}