/*  product info and pricing */
.triple-box-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 3;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: .5em;
    padding: 1.25em;
}

.box-info{
    position: relative;
    padding: 1em;
    flex-grow: 1;
    height: 3em;
    border-radius: 18px;
    background-color: #fff;
    border: 2px solid #f5f5f5;
    box-shadow: 0px -1px 15px -12px rgba(0,0,0,0.69);
    color: #262626;
}

.box-info p{
    padding-bottom: .25em;
    line-height: 1em;
    color:#b1b4c0;
    font-weight: 400;
    font-size: 13pt;
}

.box-info h5{
    color: #8f9199;
    margin: auto;
    bottom: 0;
    font-size: 18pt;
    font-weight: 800;
}


@media only screen and (min-width: 770px) {

    .triple-box-info-container{
        gap: 2em;
    }

}