body{ background-color: rgb(241, 240, 240); }

.background-container{
    padding: 1em;
    border-radius: 10px;
    background-color: #fff;
    border:2px solid #f5f5f5;
    box-shadow: 0px -1px 15px -12px rgba(0,0,0,0.69);
    color:#a9acb5;
}

/* Text Colors */
.lit-gy-text-color{ color:#b1b4c0; }
.drk-gy-text-color{ color: #8f9199; }
.lit-bl-text-clr{ color: #a9acb5}

.xtrm-drk-gray{ color: #262626; }

/* Button Colors */
.required{
    color: red;
    font-weight: 700;
}
/* Inner Container Color */

