.pop-window-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
}

.pop-window{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    top: 45%;
    border-radius: 1em;
    transform: translateY(-50%);
    width: 80%;
    padding: 1em;
    background-color: #fff;
}

@media only screen and (min-width: 870px) {
    .pop-window{
        top: 45%;
        width: 50%;
    }
}