.pos-line-item:nth-child(odd){
    background-color: #f5f5f5;
}

.pos-line-item:nth-child(even){
    background-color: #fff;
}

.pos-line-item{
    height: 2em;
    width: 85%;
    border-radius: 10px;
    padding: .5em 1em;
    display: inline-block;
    margin-bottom: 0;
}

.pos-line-item-options-open{
    margin-bottom: 2em;
}


.pos-line-item div{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
/* TODO: ADD A CLASSNAME OR ID Check */
/* tr td input{
    width: 3em;
} */

.pos-qty-input-container {
    text-align: center;
    border: 1px solid #adadad;
    display: inline-flex;
}

.pos-qty-input{
    text-align: center;
    width: 50%;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #adadad;
    border-right: 1px solid #adadad;
    height: 2em;
}

.post-qty-step-down, .post-qty-step-up{
  outline:none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2em;
  cursor: pointer;
  margin: 0;
  position: relative;
}


.shoppingcart-item-span{
    padding-top: .25em;
}
/* id name style */
#price-name{
    text-align: left;
    padding-left: 2em;
    overflow: auto;
}

#unit-price{
    text-align: right;
}
#pos-qty-total{
    text-align: right;
    padding-right: 1em;
}

td {
    /* border-bottom: 1px solid gainsboro; */
    /* padding: .25em 1em .25em 1em; */
    /* border-right: 1px solid rgb(171, 171, 171); */
    /* text-align:right; */
    position: relative;
    /* height: 3em; */
}

.pos-item-remove button{
    background-color: #ffffff00;
    border: none;
    border-radius: 5px;
    /* padding: .5em; */
}

.pos-item-remove button:hover{
    background-color: #fff;
    border: none;
    cursor:pointer;
}

.pos-item-remove button svg{
    fill: rgb(242, 0, 0);
}


.shoppingcart-change-qty{
    display: inline-block;
    position: relative;
    top: 1em;
    margin: auto;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}
.shoppingcart-change-qty input{
    width: 8em;
    border-radius: 1em;
    border: none;
    background-color: #ebebeb;
    text-align: center;
}

.shoppingcart-change-qty button {
    border: none;
    border-radius: 25em;
    width: 3em;
    height: 2em;
    background-color: black;
    color: #fff;
}

