.payment-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
}

.payment-form-wrapper{
    position: relative;
    margin: auto;
    top: 40%;
    border-radius: 1em;
    transform: translateY(-50%);
    width: 90%;
    background-color: #fff;
    /* height: 25em; */
}

.payment-form-title {
    padding: 1.5em 0 0 1.5em;
    font-size: 15pt;
}

/* Form */
.payment-form{
    padding: 1em;
    display: block;
    display: flex;
    flex-direction: column;
    column-gap: 2em;
    /* text-align: right; */
}

.payment-selector{
    width: 25%;
    margin-bottom: 1em;
    padding: .5em;
}



.payment-form input{
    /* margin: auto; */
    width: 90%;
    /* margin-bottom: 2em; */
    border-radius: 1em;
    border: 1px solid rgb(215, 215, 215);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}


.payment-pop-form-close-btn{
    position:absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

.finalize-transaction{
    margin: auto;
    width: 25%;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50em;
    border: none;
    padding: .75em;
    font-weight: 700;
    font-size: 12pt;
    color: #fff;
    background-color: rgb(73, 73, 73);
}

/* #pos-cash-input{
    margin-bottom: 3em;
} */

.pos-change-due {
    margin: auto;
    font-size: 20pt;
    color: red;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

/* Modified Input styles */
.display-cash-input, .display-auth-code-input{
    display: block;
}
.undisplay-cash-input, .undisplay-auth-code-input {
    display: none;
}

/* Desktop Style */
@media only screen and (min-width: 770px) {

    #payment-box{
        width: 89%;
        padding-left: 5em;
        height: 100vh;
        position: absolute;
        right:0
        /* overflow: hidden; */
    }

    .payment-form-wrapper{
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        width: 60%;
    }

    .payment-form input{
        width: 95%;
    }

}


/* Desktop Style */
@media only screen and (min-width: 570px) {
  
    .payment-form-wrapper{
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        height: 35em;
        width: 80%;
    }

}