@import url("../../components/common/searchBar.css");
@import url("./components/CancelAlertWindow.css");
@import url("./components/numpad.css");
@import url("./components/discount.css");
@import url("./components/payment.css");
@import url("./components/ccinput.css");

@import url("./products/products.css");
@import url("./shoppingCart/shoppingCart.css");


#pos-system-container{
    display: flex;
    height: 100%;
    position: absolute;
    overflow: hidden;
    flex-direction: row;
}  

.pos-item-information-container{
    background-color: #fff;
    width: 35%;
    box-shadow: 0px -3px 25px -3px rgba(0,0,0,0.1);
}


/* Payament information */
.pos-payment-information{
    width: 100%;
    color: var(--primary-color);
}

/* DISCOUNT Button Style */
.discount-container{
    padding: .75em;
    width: 85%;
    border-radius: .5em;
    position: relative;
    margin: 1em auto;
    background-color: var(--third-color);
}
.discount-container, .discount-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.discount-container div p {
    font-size: 13pt;
    font-weight: 600;
}
.discount-button-container button {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 8pt;
    margin: .25em;
    font-weight: 600;
    border-radius: 5px;
}

/* Line Items and discount */
.item-and-discount-container{
    padding: 1em;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-and-discount-labels{
    display: flex;
    flex-direction: column;
}
.item-and-discount-info{
    display: inline;
} 

/* payment */
.balance-due{
    position: absolute;
    bottom: 0;
    right: 0;
}
.include_tax{ display: block; }
.dont-include-tax{ display: none; }


/* total cost of all items style */
.pos-price-information{
    background-color: var(--third-color);
    width: 100%;
    display:flex;
}
.pos-final-price-info label, .pos-final-price-info p{
    font-size: 12pt;
}
.pos-final-price-info p{
    text-align: right;
}
.pos-final-price-info label:last-child, .pos-final-price-info p:last-child{
    font-size: 16pt;
    font-weight: 700;
}


/* Point of sales BUTTON Style */
.pos-button-container{
    display: flex;
    padding: 1em;
    margin: auto;
    justify-content: space-between;
}

.pos-pay-button button{ background-color: var(--good-btn); }
.pos-cancel-button button, .discount-button-container button{ background-color: var(--bad-btn); }

.pos-pay-button button:active, .pos-pay-button button:hover { background-color: var(--good-btn-active); }

.pos-cancel-button button:active, .pos-cancel-button button:hover,
.discount-button-container button:active, .discount-button-container button:hover { background-color: var(--bad-btn-active); }



.pos-cancel-button button, .pos-pay-button  button{
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 9pt;
    border: none;
    padding: .75em 1.75em;
    margin: .2em;
    border-radius: 10px;
}

.pos-selector-image{
    width: 100px;
}

@media only screen and (min-width: 770px) {
    /* wrapper of the whole container */
    #pos-system-container{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    
    #pos-system-product-search{
        width:65%;
        height: 100%;
        padding: 0 0 0 7%;
    }

    /* Search Bar */
    .sku-input-container{
        text-align: center;
        margin: auto;
    }
    .srch-bar-container {
        margin: auto;
    }
    .pos-srch-cont{
        max-width: 50%;
    }

    /* Product Selector Style */
    .pos-category-selector{
        padding: 1em;
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        border-radius: 1em;
        font-weight: 600;
        background-color: #fff;
    }
    .pos-category-selector li {
        padding: .5em .75em;
        cursor: pointer;
    }
    .pos-category-selector li:hover {
        background-color: rgb(199, 199, 199);
        border-radius: .5em;
    }
    .product-cat-active {
        background-color: black;
        color: #fff;
        border-radius: .5em;
    }

    /* Wrapper of the payment ifnromation only */
    .item-and-discount-labels{
        display: flex;
        flex-direction: column;
    }
    .item-and-discount-info{
        display: inline-block;
    }
    #pos-system-container{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .sku-input-container{
        margin: 1em auto;
    }
}
